<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Reset Password</title>
</head>
<body>
  <main class="main">
    <div class="box_login">
      <div class="title">
        <h2>Trocar senha</h2>
      </div>

      <form class="form">
        <div class="box">
          <input
            type="password"
            name="password"
            placeholder="Digite sua nova senha"
          />

          <input
            type="password"
            name="password2"
            placeholder="Confirme sua nova senha"
          />
        </div>

        <button type="button">Alterar senha</button>
      </form>
    </div>

    <figure>
      <img src="/image4.png" alt="background animal" width="500" height="500">
      <img src="/image6.png" alt="background animal" width="500" height="500">
    </figure>
  </main>

</body>
</html>
